/* Main footer styles */
footer {
  padding: 20px 0; /* Padding for the entire footer */
  background-color: #FCFFE7; /* Background color */
  color: black; /* Text color */
}

/* Heading styles */
.footer-sub h3 {
  color: black; /* Heading color */
  margin-bottom: 2.4rem; /* Spacing below headings */
}

/* Paragraph styles */
.footer-sub p {
  color: black; /* Paragraph color */
}

/* Footer sections */
.footer-sub {
  flex: 1; /* Distribute available space evenly among sections */
  margin: 0 10px; /* Add margin between sections */
}

/* Social media icons */
.footer-social--icons {
  display: flex; /* Use flexbox for icon alignment */
  margin-right: 15px; /* Add spacing between icons */
}

.icons {
  font-size: 30px; /* Adjust icon size */
  margin-right: 15px; /* Add spacing between icons */
  color: red; /* Icon color */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.icons:last-child {
  margin-right: 10; /* Remove margin from the last icon */
}

.icons:hover {
  color: black; /* Change icon color on hover */
}

/* Brand logo */
.icon-img {
  width: 120px; /* Logo width */
  height: 50px; /* Logo height */
}

/* Adjustments for list items and links */
.footer-sub ul {
  list-style: none; /* Remove bullet points from lists */
  padding: 0; /* Remove default padding from lists */
  margin: 0; /* Remove default margin from lists */
}

.footer-sub li {
  margin-bottom: 10px; /* Spacing between list items */
}

.footer-sub a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
  cursor: pointer; /* Change cursor on hover */
}

.footer-sub a:hover {
  text-decoration: none; /* Remove underline on hover */
}

/* Footer bottom */
/* Footer bottom */
.footer-bottom {
  display: flex;
  justify-content: center; /* Center align the content horizontally */
  align-items: center; /* Center align the content vertically */
  margin-top: 20px; /* Add some space between the footer content and the hr */
}

.footer-bottom p {
  margin: 0; /* Remove default margin */
}

/* Horizontal rule styles */
hr {
  margin: 20px auto; /* Center the horizontal rule */
  color: black; /* Horizontal rule color */
  height: 0.1px; /* Horizontal rule height */
}

/* Container for footer sections */
.container {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
}
