/* Complete CSS for the Order component */

.order-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px;
  margin-bottom: 20px;
}

.order-header {
  width: 100%;
}

.order-header .header-cell {
  background-color: darkgreen;
  color: white;
  padding: 10px;
  text-align: center;
}

.order-details {
  width: 50%;
  text-align: center;
}

.order-details .order-status {
  text-align: left;
  padding: 10px;
}

.order-details .btn {
  margin-top: 10px;
}

.order-details-bar {
  background-color: darkgreen;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-details-bar .order-id,
.order-details-bar .order-status {
  flex: 1;
}

.order-details-bar .order-id {
  margin-right: 8px;
}

.order-details ul {
  list-style-type: none;
  padding: 0;
}

.order-details ul li {
  text-align: left;
}

.order-details .details-container {
  display: flex;
  justify-content: space-between;
}

.order-details .food-container strong {
  margin-right: 10px;
}

.order-details .delivery-details {
  flex-basis: 100%;
  margin-top: 10px;
}

.order-details .details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.mystyle {
  margin-top: 10px;
}



.table-container {
  text-align: center;
}

.order-table {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
}

.header-cell {
  background-color: darkgreen;
  color: white;
  padding: 10px;
  text-align: center;
}

.order-details {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;

}

.order-status {
  text-align: left;
}



/* Updated CSS for the Cancel Button */
.cancel-button {
  text-align: right;
}



/* move to bottom  */
.goToRight {
  text-align: right;
}

.widt{
  padding-top: 38px;
}
